<h2>Include a module</h2>

<form action="/changes/include_module" method="post">
  <label for="module_name">Include this module: </label>
  <input type="text" name="module_name"><br />
  <label for="target">Into this class or module: </label>
  <input type="text" name="target"><br />
  <input type="submit" value="Include module" name="submit">
</form>
