<h2>New Class</h2>

<form action="/changes/new_class" method="post">
  <label for="name">Class Name: </label>
  <input type="text" name="name"><br />
  <label for="superclass">Superclass: </label>
  <input type="text" name="superclass"><br />
  <input type="submit" value="Create class" name="submit">
</form>
