<h2>New Module</h2>

<form action="/changes/new_module" method="post">
  <label for="name">Module name: </label>
  <input type="text" name="name"><br />
  <input type="submit" value="Create module" name="submit">
</form>
